---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=zvkqfuc5vws6ytvedk2qwf4n&%7B:format=%3E%22json%22,%20:show=%3E%5B%22storeType%22,%20%22longName%22,%20%22city%22,%20%22phone%22,%20%22distance%22%5D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <?xml-stylesheet href="/v1/xsl/xml_pretty_printer.xsl" type="text/xsl"?>
        <error>
          <code>400</code>
          <status>400 Bad Request</status>
          <message>Couldn&apos;t understand &apos;/v1/stores(area(80202,25))?apiKey=zvkqfuc5vws6ytvedk2qwf4n&amp;{:format=&gt;&quot;json&quot;, :show=&gt;[&quot;storeType&quot;, &quot;longName&quot;, &quot;city&quot;, &quot;phone&quot;, &quot;distance&quot;]}&apos;: Failed at character 59.</message>
          <examples>
            <example>/v1/products/8880044.xml?apiKey=&lt;YourApiKey&gt; : Get product information for sku 8880044; display as XML</example>
            <example>/v1/stores/187.json?apiKey=&lt;YourApiKey&gt; : Get information for store 187; display as JSON</example>
            <example>/v1/products?apiKey=&lt;YourApiKey&gt; : Get all products; show the first 10, sorted by name, display default attributes, formatted as xml</example>
            <example>/v1/products?facet=manufacturer,10&amp;apiKey=&lt;YourApiKey&gt;[...]
