---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=zvkqfuc5vws6ytvedk2qwf4n&format=json&show=storeType,longName,city,phone,distance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":17,"totalPages":2,"queryTime":"0.013","totalTime":"0.024","partial":false,"canonicalUrl":"/v1/stores(area(\"80202\",25))?show=storeType,longName,city,phone,distance&format=json&apiKey=zvkqfuc5vws6ytvedk2qwf4n","stores":[{"storeType":"Mobile
        SAS","longName":"Cherry Creek Shopping Center","city":"Denver","phone":"303-270-9189","distance":3.45},{"storeType":"Big
        Box","longName":"Belmar","city":"Lakewood","phone":"303-742-8039","distance":5.31},{"storeType":"Big
        Box","longName":"Colorado Blvd","city":"Denver","phone":"303-758-5805","distance":5.59},{"storeType":"Big
        Box","longName":"Denver West","city":"Lakewood","phone":"303-273-5617","distance":8.39},{"storeType":"Big
        Box","longName":"Westminster","city":"Westminster","phone":"303-426-4434","distance":8.52},{"storeType":"Big
        Box","longName":"Northglenn","city":"Denver","phone":"303-252-8677","distance":9.14},{"storeType":"Mobile
        SAS","longName":"Town Center at Aurora","city":"Aurora","phone":"303-326-0848","distance":9.73},{"storeType":"Big
        Box","longName":"Aurora","city":"Aurora","phone":"303-338-5797","distance":9.79},{"storeType":"Big
        Box","longName":"Littleton","city":"Lakewood","phone":"303-932-7830","distance":10.44},{"storeType":"Big
        Box","longName":"Southglenn","city":"Centennial","phone":"303-797-3246","distance":11.02}],"warnings":"Distances
        are in terms of miles (default)"}'
  recorded_at: Wed, 13 Sep 2017 18:00:56 GMT
recorded_with: VCR 3.0.3
